* { box-sizing: border-box; }
html { font-family: sans-serif; }
body { margin: 0; }

.btn {
    padding: 0.5em 0.75em;
    color: #fff;
    background-color: #222;
    background-image: linear-gradient(rgba(255,255,255,0.25), transparent);
    display: inline-block;
    border-radius: 0.2em;
    box-shadow: 0 0.1em 0.6em 0 rgba(0,0,0,0.3);
    cursor: pointer;
}

[type="checkbox"]:checked + .btn {
    background-color: #444;
}

.visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    border: 0;
    position: absolute;
    white-space: nowrap;
}

.section {
    margin: 0 auto;
    padding: 1em;
    max-width: 48em;
}

.single {
    margin-top: 1em;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

[type="checkbox"]:checked ~ .single {
    opacity: 1;
}

.multi {
    margin-top: 1em;
    color: white;
    background-color: rebeccapurple;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:
        transform 1s ease-out,
        background-color 0.5s 0.1s ease-in-out,
        border-radius 0.3s 0.5s;
}

[type="checkbox"]:checked ~ .multi {
    transform: rotate(1turn);
    background-color: darkslateblue;
    border-radius: 0;
}
